
<div class="wrap">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div>
        <mat-card class="container">
            <div class="card">
                <div class="front"></div>
                <div class="back">
                    <h1>Welcome to my site.</h1>
                    <p>Hi I'm Minh</p>
                    <p>
                        <img width="80px" alt="me" src="/assets/me.jpg"/>
                    </p>
                </div>
            </div>
        </mat-card>
        
        <p class="minh-buttons">
            <button title="Open new tab" mat-button>
                <mat-icon>person</mat-icon>Me
            </button>
            
            <button title="Open new tab" mat-button>
                <mat-icon>code</mat-icon>Github
            </button>
            
            <button title="Open new tab" mat-button>
                <mat-icon>mail</mat-icon> Mail
            </button>
        </p>
    </div>
</div>

